.FlickrImages {
  width: 100vw;
  text-align: center;
}
.flickr-images {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.flickr-images img {
  width: initial;
  height: initial;
  padding: 8px;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.3s;
}

.flickr-images img:hover {
  transform: rotateZ(8deg);
}
